@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
// 400, 500, 700

$orange: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);
$white: hsl(0, 0%, 98%);
$textGray: hsl(227, 12%, 61%);
$divBackground: hsl(0, 0%, 94%);
$footerColor: hsl(233, 12%, 13%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Be Vietnam', sans-serif;
	background-color: $white;
	position: relative;
	overflow: hidden;
	#background-top {
		z-index: -50;
		position: absolute;
		right: -250px;
		top: -250px;
	}
	#background-bottom {
		position: absolute;
		bottom: 1100px;
		right: 950px;
	}
}

// Navbar ONLY

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	.logo {
		cursor: pointer;
		margin-left: -20px;
	}
	li,
	a,
	button {
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 16px;
		color: $darkBlue;
		text-decoration: none;
	}
	.nav-links {
		list-style: none;
		li {
			display: inline-block;
			padding: 0 20px;
		}
		a {
			transition: all 0.3s ease 0s;
		}
		a:hover {
			color: $textGray;
		}
	}
	button {
		padding: 15px 40px;
		background-color: $orange;
		border: none;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		box-shadow: 2px 2px 2px hsl(227, 12%, 61%);
		color: $white;
		font-weight: 400;
		letter-spacing: 1px;
	}
	button:hover {
		background-color: $orange;
		opacity: 0.7;
		transition: 0.2s;
	}
}

.top-div {
	margin-left: 50px;
	display: block;
	padding-bottom: 50px;
	.top-text {
		width: 40%;
		height: 500px;
		text-align: left;
		h1 {
			font-size: 2.5rem;
			color: $darkBlue;
			margin: 25px;
			padding: 50px 50px 0 25px;
		}
		p {
			padding: 15px 50px 50px 50px;
			width: 80%;
		}
		button {
			padding: 15px 40px;
			background-color: $orange;
			border: none;
			border-radius: 50px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			box-shadow: 2px 2px 2px hsl(227, 12%, 61%);
			color: $white;
			font-weight: 400;
			letter-spacing: 1px;

			position: absolute;
			left: 100px;
		}
		#btn1 {
			font-weight: 500;
		}
		button:hover {
			background-color: $orange;
			opacity: 0.7;
			transition: 0.2s;
		}
	}
	.top-img {
		#chart-img {
			float: right;
			position: absolute;
			top: 150px;
			right: 100px;
		}
	}
}

.middle-div {
	margin-left: 50px;
	display: inline-block;
	padding-bottom: 50px;
	.left-side {
		width: 50%;
		height: 350px;
		text-align: left;
		h1 {
			font-size: 2.5rem;
			color: $darkBlue;
			margin: 25px;
			padding: 50px 50px 0 25px;
		}
		p {
			padding: 15px 50px 50px 50px;
			width: 80%;
			color: $textGray;
			font-weight: 400;
		}
	}
	.reasonsWhy {
		// background-color: red;
		width: 50%;
		height: 600px;
		padding-top: 40px;
		text-align: left;
		float: right;

		position: relative;
		bottom: 350px;

		// h2 {
		// 	background-color: $orange;
		// 	width: 75px;
		// 	text-align: center;
		// 	justify-content: center;
		// 	border-radius: 25px;
		// 	color: $white;
		// }
		// h3 {
		// 	float: right;
		// }
		#reason1 {
			padding: 15px;

			.lead1 {
				display: inline-flex;
				align-items: center;
				h2 {
					background-color: $orange;
					padding: 5px 20px;
					border-radius: 25px;
					color: $white;
					margin: 15px;
				}
				h3 {
					color: $darkBlue;
				}
			}
			p {
				padding: 20px;
				width: 80%;
				margin: auto;
				color: $textGray;
			}
		}
		#reason2 {
			padding: 15px;

			.lead2 {
				display: inline-flex;
				align-items: center;
				h2 {
					background-color: $orange;
					padding: 5px 20px;
					border-radius: 25px;
					color: $white;
					margin: 15px;
				}
				h3 {
					color: $darkBlue;
				}
			}
			p {
				padding: 20px;
				width: 80%;
				margin: auto;
				color: $textGray;
			}
		}
		#reason3 {
			padding: 15px;
			.lead3 {
				display: inline-flex;
				align-items: center;
				h2 {
					background-color: $orange;
					padding: 5px 20px;
					border-radius: 25px;
					color: $white;
					margin: 15px;
				}
				h3 {
					color: $darkBlue;
				}
			}
			p {
				padding: 20px;
				width: 80%;
				margin: auto;
				color: $textGray;
			}
		}
	}
}

.slideshow-container {
	position: relative;
	background: $white;

	h1 {
		color: $darkBlue;
		text-align: center;
		margin-top: -150px;
		padding-bottom: 100px;
		padding-top: 50px;
	}
	.mySlides {
		display: none;
		padding: 80px;
		text-align: center;
		background-color: $divBackground;
		width: 80%;
		margin: auto;
		margin-bottom: 50px;
		border-radius: 25px;
		z-index: 5000;
		img {
			margin-top: -125px;
			padding-bottom: 25px;
		}
	}
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -30px;
		padding: 16px;
		color: #888;
		font-weight: bold;
		font-size: 20px;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}
	.next {
		position: absolute;
		right: 0;
		border-radius: 3px 0 0 3px;
	}
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
		color: white;
	}
	.dot-container {
		text-align: center;
		padding: 20px;
		background: #ddd;
	}

	q {
		color: $textGray;
	}
	.author {
		color: $darkBlue;
		padding-bottom: 15px;
		font-size: 1.5rem;
		font-weight: 500;
	}
	button {
		margin: auto;
		display: block;
		padding: 15px 40px;
		background-color: $orange;
		border: none;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		box-shadow: 2px 2px 2px hsl(227, 12%, 61%);
		color: $white;
		font-weight: 400;
		letter-spacing: 1px;
	}
	button:hover {
		background-color: $orange;
		opacity: 0.7;
		transition: 0.2s;
	}
}

.above-footer {
	background-color: $orange;
	height: 250px;
	margin-top: 250px;
	h1 {
		color: $white;
		position: relative;
		top: 40px;
		left: 50px;
		font-size: 2.5rem;
		width: 40%;
	}
	button {
		background-color: $white;
		color: $orange;
		border: none;
		padding: 15px 40px;
		border-radius: 25px;
		font-size: 1rem;
		font-weight: 500;

		position: absolute;
		right: 50px;
		bottom: 425px;
	}
	button:hover {
		background-color: $divBackground;
		cursor: pointer;
	}
}

footer {
	background-color: $footerColor;
	color: $white;
	height: 300px;
	.social-media {
		position: absolute;
		bottom: 100px;
		left: 50px;
		justify-items: space-around;
		#fb {
			padding: 10px;
			transform: scale(1.5);
		}
		#ig {
			padding: 10px;
			transform: scale(1.5);
		}
		#pi {
			padding: 10px;
			transform: scale(1.5);
		}
		#tw {
			padding: 10px;
			transform: scale(1.5);
		}
		#yt {
			padding: 10px;
			transform: scale(1.5);
		}
	}

	.footer-menu {
		display: grid;
		grid-template-columns: 150px 150px;
		grid-gap: 25px;
		align-items: center;
		justify-content: center;
		position: relative;
		top: 35px;
		right: 50px;
		a {
			color: $white;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
			color: $textGray;
		}
	}
	#footer-logo {
		position: absolute;
		bottom: 225px;
		left: 50px;
	}
	p {
		float: right;
		margin-right: -175px;
		padding-top: 15px;
	}
}
input {
	float: right;
	position: relative;
	right: 150px;
	bottom: 125px;
	height: 50px;
	width: 250px;
	border-radius: 15px;
	border: none;
	padding-left: 15px;
}

#goBtn {
	float: right;
	position: relative;
	right: -175px;
	bottom: 125px;
	height: 50px;
	width: 50px;
	background-color: $orange;
	border: none;
	border-radius: 15px;
	color: $white;
	font-size: 1rem;
	font-weight: 700;
}
